// Sterling Systems v0.5.2
// Adjust parts names to match Community Parts Title style
//
// Author: William Minchin, 2026-04-26


Localization
{
	en-us
	{
        // // Core

        // // Electric
		// Turbine Generators (Steam)
		#LOC_strl_tectrb_0625_title = DE-06-150 Stirling Delta Electro  // Sterling Delta Electro A-150
		#LOC_strl_tectrb_125_title  = DE-12-k02 Stirling Delta Electro  // Sterling Delta Electro A-1.2K
		#LOC_strl_tectrb_1875_title = DE-18-k03 Stirling Delta Electro  // Sterling Delta Electro A-2.7K
		#LOC_strl_tectrb_250_title  = DE-25-k04 Stirling Delta Electro  // Sterling Delta Electro A-3.6K
		#LOC_strl_tectrb_375_title  = DE-37-k07 Stirling Delta Electro  // Sterling Delta Electro A-7.2K
		#LOC_strl_tectrb_500_title  = DE-50-k10 Stirling Delta Electro  // Sterling Delta Electro A-10K

		// Reactors KRUSTY
		//#LOC_strl_rctrkrusty_title =  // Sterling KLUSTR

		// Reactors SubCritical Multiplier
		//#LOC_strl_rctrscm_title =  // Sterling Sub-Critical Multiplier Reactor        

		// Reactors Betavoltaic
		//#LOC_strl_rctrbv_title =  // Sterling Betavoltaics  // used for all models, see below

		// Fuel Cells
		//#LOC_strl_fuelcell_lug_title =  // Sterling MAEC Luggage
		//#LOC_strl_fuelcell_cube_title =  // Sterling MAEC Cube
		//#LOC_strl_fuelcell_125_title =  // Sterling MAEC 1.25m
		//#LOC_strl_fuelcell_mk2_title =  // Sterling MAEC Mk2
		//#LOC_strl_fuelcell_250_title =  // Sterling MAEC 2.5m
		//#LOC_strl_fuelcell_375_title =  // Sterling MAEC 3.75m
		//#LOC_strl_fuelcell_500_title =  // Sterling MAEC 5m

		// Batteries
		#LOC_strl_batt_lug_title = Z-k02 "Luggage" Sterling Super Battery  // Sterling Super Battery Luggage
		#LOC_strl_batt_cube_title = Z-k08 "Cube" Sterling Super Battery  // Sterling Super Battery Cube
		#LOC_strl_batt_125_title = Zs-12-k019/k186 Sterling Super Battery  // Sterling Super Battery 1.25m
		#LOC_strl_batt_mk2_title = Zs-Mk2-k034/k252 Sterling Super Battery  // Sterling Super Battery Mk2
		#LOC_strl_batt_250_title = Zs-25-k041/m01 Sterling Super Battery  // Sterling Super Battery 2.5m
		#LOC_strl_batt_375_title = Zs-37-k138/m03 Sterling Super Battery  // Sterling Super Battery 3.75m
		#LOC_strl_batt_500_title = Zs-50-k328/m07 Sterling Super Battery  // Sterling Super Battery 5m

		// Wrappers PV
		#LOC_strl_pv-wrap-mk2_title = KX/Mk2-006/293 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics Mk2
		#LOC_strl_pv-wrap-mk3_title = KX/Mk3-011/510 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics Mk3
		#LOC_strl_pv-wrap-125_title = KX/12-002/081 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 1.25m
		#LOC_strl_pv-wrap-187_title = KX/18-003/120 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 1.875m
		#LOC_strl_pv-wrap-250_title = KX/25-007/156 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 2.5m
		#LOC_strl_pv-wrap-375_title = KX/37-010/231 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 3.75m
		#LOC_strl_pv-wrap-500_title = KX/50-013/306 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 5m
		
		#LOC_strl_pv-wrapxs-062_title = KX/06-000.2/003 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 0.625m
		#LOC_strl_pv-wrapxs-125_title = KX/12-000.3/005 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 1.25m
		#LOC_strl_pv-wrapxs-187_title = KX/18-000.5/008 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 1.875m
		#LOC_strl_pv-wrapxs-mk2_title = KX/Mk2-000.8/014 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics Mk2
		#LOC_strl_pv-wrapxs-250_title = KX/25-001/023 Sterling Wrapper Photovoltaics  // Sterling Wrapper Photovoltaics 2.5m
		#LOC_strl_pv-wrapxs-lin_title = KX-000.8/023 Sterling Linear Photovoltaics  // Sterling Linear Photovoltaics


        // // Engines
		// Thermal nozzle
		//#LOC_strl_eng_062_thnozbell_title =  // Sterling TN-DL 0.625m Thermal Bell Nozzle
		//#LOC_strl_eng_125_thnozbell_title =  // Sterling TN-DL 1.25m Thermal Bell Nozzle
		//#LOC_strl_eng_250_thnozbell_title =  // Sterling TN-DL 2.5m Thermal Bell Nozzle
        
		// SCNTR
		//#LOC_strl_eng_062_SULEU_title =  // Sterling IPE-NV "SULEU" 0.625m
		//#LOC_strl_eng_125_SULEU_title =  // Sterling IPE-NV "SULEU" 1.25m
		//#LOC_strl_eng_187_SULEU_title =  // Sterling IPE-NV "SULEU" 1.875m
        
		// GCNTR
		//#LOC_strl_eng_375_CCGC_title =  // Sterling IPE-GC "Slim"
		//#LOC_strl_eng_375_OCGC_title =  // Sterling IPE-GC "Tiny"

		// Fusion
		//#LOC_strl_eng_375_MCF_title =  // Sterling IPE-MC "Calabash"
		//#LOC_strl_eng_250_ICF_title =  // Sterling ISME-IC "Olympian"
		//#LOC_strl_eng_500_ICF_title =  // Sterling ISME-IC "Icarus"

		// Antimatter
		//#LOC_strl_eng_1000_BCAM_title =  // Sterling ISME-BC "Immolator"


        // // Tankage
		// Fuel Tanks
		#LOC_strl_tankpillb_125_title = FV-T12 Sterling Fuel Tank  // Sterling Tankage FV-T012
		#LOC_strl_tankpillb_1875_title = FV-T18 Sterling Fuel Tank  // Sterling Tankage FV-T018
		#LOC_strl_tankpillb_250_title = FV-T25 Sterling Fuel Tank  // Sterling Tankage FV-T025
		#LOC_strl_tankpillb_375_title = FV-T38 Sterling Fuel Tank  // Sterling Tankage FV-T038
		#LOC_strl_tankpillb_500_title = FV-T50 Sterling Fuel Tank  // Sterling Tankage FV-T050
		#LOC_strl_tankpillb_750_title = FV-T75 Sterling Fuel Tank  // Sterling Tankage FV-T075

		#LOC_strl_tankpillg_125_title = FV-M12 Sterling Fuel Tank  // Sterling Tankage FV-M012
		#LOC_strl_tankpillg_1875_title = FV-M18 Sterling Fuel Tank  // Sterling Tankage FV-M018
		#LOC_strl_tankpillg_250_title = FV-M25 Sterling Fuel Tank  // Sterling Tankage FV-M025
		#LOC_strl_tankpillg_375_title = FV-M37 Sterling Fuel Tank  // Sterling Tankage FV-M037
		#LOC_strl_tankpillg_500_title = FV-M50 Sterling Fuel Tank  // Sterling Tankage FV-M050
		#LOC_strl_tankpillg_750_title = FV-M75 Sterling Fuel Tank  // Sterling Tankage FV-M075

		#LOC_strl_tankpillwg_125_title = FV-C12 Sterling Fuel Tank  // Sterling Tankage FV-C012
		#LOC_strl_tankpillwg_1875_title = FV-C18 Sterling Fuel Tank  // Sterling Tankage FV-C018
		#LOC_strl_tankpillwg_250_title = FV-C25 Sterling Fuel Tank  // Sterling Tankage FV-C025
		#LOC_strl_tankpillwg_375_title = FV-C37 Sterling Fuel Tank  // Sterling Tankage FV-C037
		#LOC_strl_tankpillwg_500_title = FV-C50 Sterling Fuel Tank  // Sterling Tankage FV-C050
		#LOC_strl_tankpillwg_750_title = FV-C75 Sterling Fuel Tank  // Sterling Tankage FV-C075

		#LOC_strl_tankpillwm_125_title = FV-N12 Sterling Fuel Tank  // Sterling Tankage FV-N012
		#LOC_strl_tankpillwm_1875_title = FV-N18 Sterling Fuel Tank  // Sterling Tankage FV-N018
		#LOC_strl_tankpillwm_250_title = FV-N25 Sterling Fuel Tank  // Sterling Tankage FV-N025
		#LOC_strl_tankpillwm_375_title = FV-N37 Sterling Fuel Tank  // Sterling Tankage FV-N037
		#LOC_strl_tankpillwm_500_title = FV-N50 Sterling Fuel Tank  // Sterling Tankage FV-N050
		#LOC_strl_tankpillwm_750_title = FV-N75 Sterling Fuel Tank  // Sterling Tankage FV-N075

		// Industry tanks
		#LOC_strl_tankdrumb_250_title = IV-T25 Sterling Industrial Tank  // Sterling Tankage IV-T025
		#LOC_strl_tankdrumb_375_title = IV-T37 Sterling Industrial Tank  // Sterling Tankage IV-T037
		#LOC_strl_tankdrumb_500_title = IV-T50 Sterling Industrial Tank  // Sterling Tankage IV-T050

		#LOC_strl_tankdrumw_250_title = IV-N25 Sterling Industrial Tank  // Sterling Tankage IV-N025
		#LOC_strl_tankdrumw_375_title = IV-N37 Sterling Industrial Tank  // Sterling Tankage IV-N037
		#LOC_strl_tankdrumw_500_title = IV-N50 Sterling Industrial Tank  // Sterling Tankage IV-N050


        // // Thermals
		// Wrappers Standard White
		#LOC_strl_rad-wrapw-mk2_title = XR-Mk2-098 Wrapper Radiator  // Sterling Wrapper Radiator W-098K
		#LOC_strl_rad-wrapw-mk3_title = XR-Mk3-170 Wrapper Radiator  // Sterling Wrapper Radiator W-170K
		#LOC_strl_rad-wrapw-125_title = XR-12-027 Wrapper Radiator  // Sterling Wrapper Radiator W-027K
		#LOC_strl_rad-wrapw-187_title = XR-18-040 Wrapper Radiator  // Sterling Wrapper Radiator W-040K
		#LOC_strl_rad-wrapw-250_title = XR-25-104 Wrapper Radiator  // Sterling Wrapper Radiator W-104K
		#LOC_strl_rad-wrapw-375_title = XR-37-154 Wrapper Radiator  // Sterling Wrapper Radiator W-154K
		#LOC_strl_rad-wrapw-500_title = XR-50-204 Wrapper Radiator  // Sterling Wrapper Radiator W-204K

		// Wrappers Standard Gray
		#LOC_strl_rad-wrapg-mk2_title = XR-Mk2-k01 Wrapper Radiator  // Sterling Wrapper Radiator M-1.1M
		#LOC_strl_rad-wrapg-mk3_title = XR-Mk3-k02 Wrapper Radiator  // Sterling Wrapper Radiator M-1.9M
		#LOC_strl_rad-wrapg-125_title = XR-12-300 Wrapper Radiator  // Sterling Wrapper Radiator M-300K
		#LOC_strl_rad-wrapg-187_title = XR-18-400 Wrapper Radiator  // Sterling Wrapper Radiator M-400K
		#LOC_strl_rad-wrapg-250_title = XR-25-k01 Wrapper Radiator  // Sterling Wrapper Radiator M-1.2M
		#LOC_strl_rad-wrapg-375_title = XR-27-k02 Wrapper Radiator  // Sterling Wrapper Radiator M-1.8M
		#LOC_strl_rad-wrapg-500_title = XR-50-k02 Wrapper Radiator  // Sterling Wrapper Radiator M-2.4M

		// Wrappers Standard Black
		#LOC_strl_rad-wrapb-mk2_title = XR-Mk2-k02 Wrapper Radiator  // Sterling Wrapper Radiator C-1.9M
		#LOC_strl_rad-wrapb-mk3_title = XR-Mk3-k03 Wrapper Radiator  // Sterling Wrapper Radiator C-3.4M
		#LOC_strl_rad-wrapb-125_title = XR-12-500 Wrapper Radiator  // Sterling Wrapper Radiator C-500K
		#LOC_strl_rad-wrapb-187_title = XR-18-800 Wrapper Radiator  // Sterling Wrapper Radiator C-800K
		#LOC_strl_rad-wrapb-250_title = XR-25-k02 Wrapper Radiator  // Sterling Wrapper Radiator C-2.1M
		#LOC_strl_rad-wrapb-375_title = XR-37-k03 Wrapper Radiator  // Sterling Wrapper Radiator C-3.1M
		#LOC_strl_rad-wrapb-500_title = XR-50-k04 Wrapper Radiator  // Sterling Wrapper Radiator C-4.1M

		// Wrappers Heatshields
		#LOC_strl_shl-wrap-mk2cockpit_title = HS-R-Mk2/C7 Wrapper Heatshield  // Sterling Wrapper Heatshield Mk2
		#LOC_strl_shl-wrap-mk3cockpit_title = HS-R-Mk3/C7 Wrapper Heatshield  // Sterling Wrapper Heatshield Mk3
		#LOC_strl_shl-wrap-mk2_title = HS-R-Mk2 Wrapper Heatshield  // Sterling Wrapper Heatshield Mk2
		#LOC_strl_shl-wrap-mk2adap_title = HS-R-Mk2/Adapter Wrapper Heatshield  // Sterling Wrapper Adapter Heatshield Mk2
		#LOC_strl_shl-wrap-mk3_title = HS-R-Mk3 Wrapper Heatshield  // Sterling Wrapper Heatshield Mk3
		#LOC_strl_shl-wrap-mk3adap_title = HS-R-Mk3/Adatper Wrapper Heatshield  // Sterling Wrapper Adapter Heatshield Mk3
		#LOC_strl_shl-wrap-125_title = HS-R-12 Wrapper Heatshield  // Sterling Wrapper Heatshield 1.25m
		#LOC_strl_shl-wrap-187_title = HS-R-18 Wrapper Heatshield  // Sterling Wrapper Heatshield 1.875m
		#LOC_strl_shl-wrap-250_title = HS-R-25 Wrapper Heatshield  // Sterling Wrapper Heatshield 2.5m
		#LOC_strl_shl-wrap-375_title = HS-R-37 Wrapper Heatshield  // Sterling Wrapper Heatshield 3.75m
		#LOC_strl_shl-wrap-500_title = HS-R-50 Wrapper Heatshield  // Sterling Wrapper Heatshield 5m

		// Roll-out
		#LOC_strl_rad-rollw-062-1_title = XT-097 ROAR Baby W  // Sterling Baby ROAR W-100K
		#LOC_strl_rad-rollw-062-2_title = XT-194 ROAR Baby W  // Sterling Baby ROAR W-200K
		#LOC_strl_rad-rollw-062-3_title = XT-389 ROAR Baby W  // Sterling Baby ROAR W-400K
		#LOC_strl_rad-rollw-125-1_title = XT-500 ROAR W  // Sterling ROAR W-500K
		#LOC_strl_rad-rollw-125-2_title = XT-k01 ROAR W  // Sterling ROAR W-1M
		#LOC_strl_rad-rollw-125-3_title = XT-k02 ROAR W  // Sterling ROAR W-2M
		#LOC_strl_rad-rollg-062-1_title = XT-k01 ROAR Baby M  // Sterling Baby ROAR M-1.1M
		#LOC_strl_rad-rollg-062-2_title = XT-k02 ROAR Baby M  // Sterling Baby ROAR M-2.3M
		#LOC_strl_rad-rollg-062-3_title = XT-k05 ROAR Baby M  // Sterling Baby ROAR M-4.5M
		#LOC_strl_rad-rollg-125-1_title = XT-k05 ROAR M  // Sterling ROAR M-5.8M
		#LOC_strl_rad-rollg-125-2_title = XT-k12 ROAR M  // Sterling ROAR M-11.6M
		#LOC_strl_rad-rollg-125-3_title = XT-k23 ROAR M  // Sterling ROAR M-23.2M
		#LOC_strl_rad-rollb-062-1_title = XT-k02 ROAR Baby C  // Sterling Baby ROAR C-1.9M
		#LOC_strl_rad-rollb-062-2_title = XT-k04 ROAR Baby C  // Sterling Baby ROAR C-3.9M
		#LOC_strl_rad-rollb-062-3_title = XT-k08 ROAR Baby C  // Sterling Baby ROAR C-7.8M
		#LOC_strl_rad-rollb-125-1_title = XT-k10 ROAR C  // Sterling ROAR C-10M
		#LOC_strl_rad-rollb-125-2_title = XT-k20 ROAR C  // Sterling ROAR C-20M
		#LOC_strl_rad-rollb-125-3_title = XT-k40 ROAR C  // Sterling ROAR C-40M

		// Flat
		//#LOC_strl_rad-flatb-quad01_title =  // Sterling Rectangular Graphene Radiator 12m
		//#LOC_strl_rad-flatb-quad02_title =  // Sterling Rectangular Graphene Radiator 36m
		//#LOC_strl_rad-flatb-tri01_title =  // Sterling Triangular Graphene Radiator 12m
		//#LOC_strl_rad-flatb-tri02_title =  // Sterling Triangular Graphene Radiator 36m

		// Preheaters
		//#LOC_strl_preh-125_title =  // Sterling Preheater M-04M
		//#LOC_strl_preh-250_title =  // Sterling Preheater M-16M
		//#LOC_strl_preh-375_title =  // Sterling Preheater M-64M

		// Inline Heatsinks
		//#LOC_strl_sink-mk2_title =  // Sterling Inline Heatsink M-3.5M
		//#LOC_strl_sink-125_title =  // Sterling Inline Heatsink M-3.3M
		//#LOC_strl_sink-250_title =  // Sterling Inline Heatsink M-7.7M
		//#LOC_strl_sink-375_title =  // Sterling Inline Heatsink M-13.3M
		//#LOC_strl_sink-500_title =  // Sterling Inline Heatsink M-20M

		// Super heavy shields
		//#LOC_strl_shl-shadow01_title =  // Sterling Conical Shadow Shield
		//#LOC_strl_shl-sun01_title =  // Sterling Super Heavy Shield

		// Reactors MSR
		//#LOC_strl_rctrms_0625_title =  // Sterling MS-26M 'Cahora Bassa'
		//#LOC_strl_rctrms_125_title =  // Sterling MS-130M 'Nasser'
		//#LOC_strl_rctrms_250_title =  // Sterling MS-715M 'Kariba'
		//#LOC_strl_rctrms_375_title =  // Sterling MS-1.6G 'Volta'

		// Reactors PBR
		//#LOC_strl_rctrpb_125_title =  // Sterling PB-1G 'Waipio'
		//#LOC_strl_rctrpb_250_title =  // Sterling PB-9G 'Kalalau'
		//#LOC_strl_rctrpb_375_title =  // Sterling PB-44G 'Halawa'

		// Exotic Radiators
		//#LOC_strl_rad-lfr-sta01_title =  // Sterling Stackable Film Radiator 10m
		//#LOC_strl_rad-lfr-sta02_title =  // Sterling Stackable Film Radiator 20m
		//#LOC_strl_rad-lfr-sta03_title =  // Sterling Stackable Film Radiator 60m
		//#LOC_strl_rad-lfr-sta04_title =  // Sterling Stackable Film Radiator 90m
		//#LOC_strl_rad-lfr-sta05_title =  // Sterling Stackable Film Radiator 120m
		//#LOC_strl_rad-lfr-sta06_title =  // Sterling Stackable Film Radiator 150m
		//#LOC_strl_rad-lfr-sta07_title =  // Sterling Stackable Film Radiator 180m


        // // Utilities
		// Circular refineries
		//#LOC_strl_isrucircmmf_125_title =  // Sterling Molten Metal Foundry 125
		//#LOC_strl_isrucircgcc_125_title =  // Sterling General Chemistry Center 125
		//#LOC_strl_isrucirctif_125_title =  // Sterling Titan Foundry 125
		//#LOC_strl_isrucircfif_125_title =  // Sterling Fission Foundry 125
		//#LOC_strl_isrucircthd_125_title =  // Sterling Thermodyne 125
		
		//#LOC_strl_isrucircmmf_250_title =  // Sterling Molten Metal Foundry 250
		//#LOC_strl_isrucircgcc_250_title =  // Sterling General Chemistry Center 250
		//#LOC_strl_isrucirctif_250_title =  // Sterling Titan Foundry 250
		//#LOC_strl_isrucircfif_250_title =  // Sterling Fission Foundry 250
		//#LOC_strl_isrucircthd_250_title =  // Sterling Thermodyne 250
		
		//#LOC_strl_isrucircmmf_375_title =  // Sterling Molten Metal Foundry 375
		//#LOC_strl_isrucircgcc_375_title =  // Sterling General Chemistry Center 375
		//#LOC_strl_isrucirctif_375_title =  // Sterling Titan Foundry 375
		//#LOC_strl_isrucircfif_375_title =  // Sterling Fission Foundry 375
		//#LOC_strl_isrucircthd_375_title =  // Sterling Thermodyne 375
		
		//#LOC_strl_isrucircmmf_500_title =  // Sterling Molten Metal Foundry 500
		//#LOC_strl_isrucircgcc_500_title =  // Sterling General Chemistry Center 500
		//#LOC_strl_isrucirctif_500_title =  // Sterling Titan Foundry 500
		//#LOC_strl_isrucircfif_500_title =  // Sterling Fission Foundry 500
		//#LOC_strl_isrucircthd_500_title =  // Sterling Thermodyne 500

		// Circular printeries
		//#LOC_strl_isrucircprt_125_title =  // Sterling Printery 125
		//#LOC_strl_isrucircprt_250_title =  // Sterling Printery 250
		//#LOC_strl_isrucircprt_375_title =  // Sterling Printery 375
		//#LOC_strl_isrucircprt_500_title =  // Sterling Printery 500

		// Launch sites
		//#LOC_strl_site-rect-field01_title =  // Sterling Construction Field
        //#LOC_strl_site-circ-pad01_title =  // Sterling Rocket Pad 25m
        //#LOC_strl_site-circ-pad02_title =  // Sterling Landing Pads
        //#LOC_strl-site-rect-ramp01_title =  // Sterling Construction Field Ramp
        //#LOC_strl-site-rect-runway01_title =  // Sterling Super Long Runway

		// Inline pads
		//#LOC_strl_inlinepadS1_title =  // Sterling Rocket Pad 1.25m
		//#LOC_strl_inlinepadS2_title =  // Sterling Rocket Pad 2.5m
		//#LOC_strl_inlinepadS3_title =  // Sterling Rocket Pad 3.75m
		//#LOC_strl_inlinepadS4_title =  // Sterling Rocket Pad 5m


        // // World Power
        // World Power
		//#LOC_strl-worldpower-wm1_title =  // Sterling World Power VAWT Type 1
		//#LOC_strl-worldpower-wm2_title =  // Sterling World Power VAWT Type 2
		#LOC_strl-worldpower-pv1_title = OX-126 Type 1 Sterling World Power Photovoltaics  // Sterling World Power Photovoltaics Type 1
		#LOC_strl-worldpower-pv2_title = OX-042 Type 2 Sterling World Power Photovoltaics // Sterling World Power Photovoltaics Type 2
		//#LOC_strl-worldpower-tcs1x_title =  // Sterling World Power Gulf Stream 1x TCS
		//#LOC_strl-worldpower-tcs3x_title =  // Sterling World Power Gulf Stream 3x TCS
		//#LOC_strl-worldpower-tcs6x_title =  // Sterling World Power Gulf Stream 6x TCS
		//#LOC_strl-worldpower-sth1_title =  // Sterling World Power Solar Furnace
		//#LOC_strl-worldpower-sthxl_title =  // Sterling World Power Solar Tower
        //#LOC_strl-worldpower-rad1_title =  // Sterling World Power Farmer Radiator
    }
}


@PART[strl-rctrbv01]:NEEDS[SterlingSystems/Electrics/Nuclear]   { @title = U-NUK-001 Sterling Betavoltaics }   // Sterling Betavoltaics
@PART[strl-rctrbv02]:NEEDS[SterlingSystems/Electrics/Nuclear]   { @title = U-NUK-004 Sterling Betavoltaics }   // Sterling Betavoltaics
@PART[strl-rctrbv03]:NEEDS[SterlingSystems/Electrics/Nuclear]   { @title = U-NUK-008 Sterling Betavoltaics }   // Sterling Betavoltaics
@PART[strl-rctrbv04]:NEEDS[SterlingSystems/Electrics/Nuclear]   { @title = U-NUK-015 Sterling Betavoltaics }   // Sterling Betavoltaics